In [27]:
print("hi")

hi

In [28]:
# identifiers
# keywords
# operators
#     arithmetic: +, *, -, //, %, **
#    relational: ==,!=, >,<,>=,<=

In [29]:
s='gbnjnbjnvb3.4'
a=[4,6,8,'hi,3.4']
b= (4,6,8,'hi', 3.4)
c={4:6, 8:['hi' ,3.4]}
d={4,6,8,'hi', 3.4}

type(s), type(a), type(b), type(c), type(d)

(str, list, tuple, dict, set)

In [30]:
[4,5] +[3,6]

[4, 5, 3, 6]

In [31]:
s[:3]

'gbn'

In [32]:
s = s[:3] + "jobhiaapchaho" +s[3:]

In [37]:
a+= ['bye']
a

[4, 6, 8, 'hi,3.4', 'bye', 'bye', 'bye', 'bye']

In [34]:
s[3:]

'jobhiaapchahojnbjnvb3.4'

In [38]:
b

(4, 6, 8, 'hi', 3.4)

In [39]:
b+='bye'

TypeError: can only concatenate tuple (not "str") to tuple

In [41]:
n = ('bye',)
type(n)

tuple

In [42]:
(*b, *b)
# concatenation of tuple
# to directly concatenate list and tuple

(4, 6, 8, 'hi', 3.4, 4, 6, 8, 'hi', 3.4)

In [44]:
(*a,*b, *s) 
# these are args
# args converts variable of given datatype into tuple

(4,
 6,
 8,
 'hi,3.4',
 'bye',
 'bye',
 'bye',
 'bye',
 4,
 6,
 8,
 'hi',
 3.4,
 'g',
 'b',
 'n',
 'j',
 'o',
 'b',
 'h',
 'i',
 'a',
 'a',
 'p',
 'c',
 'h',
 'a',
 'h',
 'o',
 'j',
 'n',
 'b',
 'j',
 'n',
 'v',
 'b',
 '3',
 '.',
 '4')

In [45]:
c['type'] = 'ekvalue'     
# insertion in dict
c[99] = [86, 'value']

c

{4: 6, 8: ['hi', 3.4], 'type': 'ekvalue', 99: [86, 'value']}

In [47]:
c2 = {'a':45, 'b':35}
print(c)
print(c2)

{4: 6, 8: ['hi', 3.4], 'type': 'ekvalue', 99: [86, 'value']}
{'a': 45, 'b': 35}

In [ ]:
(**c, **c2)     #kwargs
#concatenates into dictionary

In [ ]:
#(*args, **kwargs)

In [61]:
#item assignment
# s[0] ='A'   #not possible immutable
# a[0]='a'  #done coz mutable
# b[0] = 'a'  #not possible
# c2[1] =66  #mutable

#item deletion
# del s[0] ='A'   not possible immutable
# del a[0]='a'  done coz mutable
#del b[0] = 'a  not possible
# del c[4] =66  mutable

In [62]:
c2

{'a': 45, 'b': 35, 1: 66}

In [ ]:
m=None  #nonetype

In [65]:
print(bool(' '))
print(bool([]))
print(bool({}))
print(bool(()))
print(bool(-1))
print(bool((45), ))
print(bool([{}]))

True
False
False
False
True
True
True

In [26]:
a=34
b=35.4
c=34+5j
d='hello'
e=[3,4,5]
f=(3,4,5)
g={3:[4,5]}
h={3,4,5}

In [69]:
d.upper()

'HELLO'

In [5]:
d.split('e')

['h', 'llo']

In [6]:
d.strip('oh')

'ell'

In [9]:
'STAR'.join('wars')
'#'.join('hi this is new strig'.split())
'hi this is new string'.replace(' ', '#')
d.count('l')

2

In [19]:
# string  formatting

x=20
y=30
# z='ek aisa data jp 20 to 30 hai'

# format specifier
# z = 'ek aisa data jo %d to %d h'%(x,y)      #not advisable

# using format function
# z = 'ek aisa data jo {} to {} h'.format(x,y)
z = 'ek aisa data jo {} to {} h'
z = z.format(x,y)

#  'ek aisa data jo 20 to 30  hlekin 20 hi kaafi h'
# z1 = 'ek aisa data jo {} to {}  h lekin {} hi kaafi h'
# z1 = z1.format(x,y, x)
z1 = 'ek aisa data jo {0} to {1}  h lekin {0} hi kaafi h'
z1 = z1.format(x,y)
z1

#  using f string
f'anything'   #used to data formatting directly


zf = f'ek aisa data jo {x} to {y}  h lekin {x} hi kaafi h'
zf

'ek aisa data jo 20 to 30  h lekin 20 hi kaafi h'

In [28]:

e.append(456)
e

[3, 4, 5, 456, 456]

In [30]:
e.count(4)

1

In [34]:
e.insert(2,1000)
e

[3, 4, 1000, 1000, 5, 456, 456]

In [35]:
e.remove(456)
e

[3, 4, 1000, 1000, 5, 456]

In [39]:
e.sort( reverse = True)   #sort(*, key=none), reverse = false)

# reverse =True sorts in descending order
e

[1000, 1000, 456, 5, 4, 3]

In [40]:
e1 = ['hi', 'wow', 'good', 'hey', 'yes', 'awesome']

In [41]:
e1.sort() # sorts alphabetically
e

[1000, 1000, 456, 5, 4, 3]

In [42]:
e1.sort(key=len)   #sorts according to length of string
e1

['hi', 'hey', 'wow', 'yes', 'good', 'awesome']

In [43]:
e1.sort(key=len, reverse =True)
e1

['awesome', 'good', 'hey', 'wow', 'yes', 'hi']

In [45]:
#tuple sorting
f1=list(f)
f1.sort(reverse =True)
f1=tuple(f1)
f1

(5, 4, 3)

In [46]:
tuple(sorted(f, reverse=True))   #directly sorts tuple

(5, 4, 3)

In [47]:
k=e.pop()  #pops last element  aand self updates
k

3

In [48]:
e

[1000, 1000, 456, 5, 4]

In [58]:
e3 =e 
e3

[1000, 1000, 456, 5, 4]

In [59]:
e3.append(60)
e3

[1000, 1000, 456, 5, 4, 60]

In [60]:

help(e.copy)

Help on built-in function copy:

copy() method of builtins.list instance
    Return a shallow copy of the list.

In [ ]:
e4 =e.copy()    # copy fn return shallow copy of the list

In [51]:
type(g.keys())

dict_keys

In [54]:
list(g.keys())[0]

3

In [56]:
g['a'] = 44

In [57]:
g.get('a', 'oh no')

44

In [61]:
#suites in python
# if-else
a=10
if(a>5):
    print("or ye toh bada h")
    if(a<100):
        print("ye bhi thhek hai")
    print("ye ho gaya")
elif(a< -20):
    print("ye bhaut chhota hogya")
elif(a==3):
    print("ye wala 3 h")
else:
    print("ye theek h")
print("sab khatam")

or ye toh bada h
ye bhi thhek hai
ye ho gaya
sab khatam

In [63]:
a=20
while a>0:
    print('hello',a)
    a-=3
    # if( a==11):
    #     break
    if(a<10):
        continue
else:
    print("acha ab pata chla")

    # agr break aagya toh else run ni hoga

hello 20
hello 17
hello 14
hello 11
hello 8
hello 5
hello 2
acha ab pata chla

In [64]:
for i in range(1,11):
    print(i * 'a')

a
aa
aaa
aaaa
aaaaa
aaaaaa
aaaaaaa
aaaaaaaa
aaaaaaaaa
aaaaaaaaaa

In [65]:
list(range(1,11,1))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [66]:
# using for-each
a=[4,'hi', 'nice', 35]
b=[]
for val in a:
    b.append(val*2)
b

# it is more optimized

[8, 'hihi', 'nicenice', 70]

In [67]:
# using range fn
a=[4,'hi', 'nice', 35]
b=[]
for i in range(len(a)):
    b.append(a[i]*2)
b

[8, 'hihi', 'nicenice', 70]

In [68]:
a*2

[4, 'hi', 'nice', 35, 4, 'hi', 'nice', 35]

In [70]:
# comprehension
b = [val *2 for val in a]        #list comprehension
b

[8, 'hihi', 'nicenice', 70]

In [72]:
k=[4,7,3,67,34,2,4,7,37,2,8 ,30,89]

In [75]:
# to gt even no.s from list
p=[val for val in k if val%2==0 ] 
p                                 #[output for-loop  if-condition]

[67, 37, 89]

In [79]:
l=[val for val in k if  val%2!=0 and val>10] 
l

[34, 30]

In [80]:
p=[]
for val in k:
    if val%2==0:
        p.append(val //2)
    else :
        p.append(val*2)
p

[2, 14, 6, 134, 17, 1, 2, 14, 74, 1, 4, 15, 178]

In [83]:
# in C - ?: a>5?ye krdena : to ye wala krdena
# in python ye kr dena if-cond else ye kr dena
m = [val//2 if val%2==0 else val*2 for val in k]
m

[2, 14, 6, 134, 17, 1, 2, 14, 74, 1, 4, 15, 178]

In [86]:
# task --- multiply by 2 if odd otherwise check 
# if it is less than 20 thne do //2 otherwise do not do anything

m=[val*2 if val%2==1 else (val//2 if val<20 else val) for val in k]
m

[2, 14, 6, 134, 34, 1, 2, 14, 74, 1, 4, 30, 178]

In [ ]:
k=[]
koi_function(val  for val in k)   #to pass the value of k to fn

In [90]:
# dict comprehension
n={val:val**2 for val in k if val%2==0}       #even values will become key and its square will become value
n

{4: 16, 34: 1156, 2: 4, 8: 64, 30: 900}

In [91]:
for i in n:
    print(i)   #prints only key

4
34
2
8
30

In [94]:
for key,value in n.items():
    print(key,value)
    # prints both keys and values

4 16
34 1156
2 4
8 64
30 900

In [95]:
def fn_ka_naam():
    print('ye kuch krdega')

In [102]:
o= fn_ka_naam()

ye kuch krdega

In [104]:
def ekor(ekvalue, dusrival):
    return ekvalue*dusrival

In [99]:
x=ekor(4,5)

20

In [103]:
print(x,o)

20 None

In [109]:
def mer_marzi(ekvalue, dusrival):
    print('kuchbhi')
    return (ekvalue*dusrival)+ekvalue

In [110]:
mer_marzi(ekvalue=10, dusrival=20)

kuchbhi

210

In [111]:
mer_marzi(10, dusrival=20)

kuchbhi

210

In [113]:
mer_marzi(2,3)

kuchbhi

8

In [114]:
def kuch_or(*v):
        return v

In [115]:

kuch_or(3,4,5)

(3, 4, 5)

In [116]:
def oor(x=10,*b, **c):
        return [i*x for i in b], c

In [118]:
oor(3,6,8)

([18, 24], {})

In [119]:
oor(3,6,8, somedata =[3,4,5,6])

([18, 24], {'somedata': [3, 4, 5, 6]})